@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Generalsans";
  src: url("/assets/fonts/GeneralSans/GeneralSans-Regular.woff2")
    format("woff2");
  src: url("/assets/fonts/GeneralSans/GeneralSans-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Generalsans";
  src: url("/assets/fonts/GeneralSans/GeneralSans-Medium.woff2") format("woff2"),
    url("/assets/fonts/GeneralSans/GeneralSans-Medium.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi/Satoshi-Bold.woff2") format("woff2");
  src: url("/assets/fonts/Satoshi/Satoshi-Bold.woff") format("woff");
}

@font-face {
  font-family: "Tsushima";
  src: url("/assets/fonts/Tsushima/Tsushima.otf");
}

@font-face {
  font-family: "DrukWideBold";
  src: url("/assets/fonts/DrukWideBold/DrukWideBold.woff") format("woff");
}

@layer utilities {
  .container {
    margin: 0 auto;
    max-width: 500px;
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1300px;
    }
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    .container {
      max-width: 1140px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      max-width: 720px;
    }
  }

  .fade-border-bottom-right {
    border-bottom: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #e6e6e6);
    border-image-slice: 1;
  }

  .fade-border-bottom-left {
    border-bottom: 2px;
    border-style: solid;
    border-image: linear-gradient(to left, transparent, #e6e6e6);
    border-image-slice: 1;
  }

  .fade-border-left {
    border-left: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, transparent, #e6e6e6);
    border-image-slice: 1;
  }

  .fade-border-right {
    border-right: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, transparent, #e6e6e6);
    border-image-slice: 1;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.2392156863);
  }

  .animate-slide-left {
    display: inline-block;
    animation: 110s slide-left infinite linear;
  }

  .cloud {
    pointer-events: none;
    opacity: 0.7;
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
  }

  .fade-opacity {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }

  .animate-scale-pulse-1 {
    animation: 5s scale-pulse infinite;
  }

  .animate-scale-pulse-2 {
    animation: 5s scale-pulse infinite 0.5s;
  }
  .animate-meditate {
    animation: 5s meditate infinite;
  }
  .stroke-header {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #2d2d2d;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-360%);
  }
}

@keyframes scale-pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  40% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes meditate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-22px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 1200px) {
  @keyframes meditate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
