@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Generalsans";
  src: url("/assets/fonts/GeneralSans/GeneralSans-Regular.woff2")
    format("woff2");
  src: url("/assets/fonts/GeneralSans/GeneralSans-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Generalsans";
  src: url("/assets/fonts/GeneralSans/GeneralSans-Medium.woff2") format("woff2"),
    url("/assets/fonts/GeneralSans/GeneralSans-Medium.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi/Satoshi-Bold.woff2") format("woff2");
  src: url("/assets/fonts/Satoshi/Satoshi-Bold.woff") format("woff");
}

@font-face {
  font-family: "Tsushima";
  src: url("/assets/fonts/Tsushima/Tsushima.otf");
}

@font-face {
  font-family: "DrukWideBold";
  src: url("/assets/fonts/DrukWideBold/DrukWideBold.woff") format("woff");
}

@layer utilities {
  .container {
    margin: 0 auto;
    max-width: 1400px;
  }

  .fade-border-bottom-right {
    border-bottom: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #e6e6e6);
    border-image-slice: 1;
  }

  .fade-border-bottom-left {
    border-bottom: 2px;
    border-style: solid;
    border-image: linear-gradient(to left, transparent, #e6e6e6);
    border-image-slice: 1;
  }

  .fade-border-left {
    border-left: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, transparent, #e6e6e6);
    border-image-slice: 1;
  }

  .fade-border-right {
    border-right: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, transparent, #e6e6e6);
    border-image-slice: 1;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.2392156863);
  }

  .animate-slide-left {
    display: inline-block;
    animation: 110s slide-left infinite linear;
  }

  .cloud {
    pointer-events: none;
    opacity: 0.7;
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
  }

  .fade-opacity {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-360%);
  }
}
